body {
  margin-left: 550px;
  margin-top: 200px;
  background-color: chocolate;
}
#n1 {
  margin-top: 25px;
  font-size: 18px;
  background-color: rgb(250, 89, 19);
}
#n2 {
  margin-top: 25px;
  font-size: 18px;
  background-color: rgb(250, 89, 19);
}
#operators {
  height: 30px;
  width: 100px;
  margin-top: 50px;
  background-color: rgb(3, 51, 20);
  colors: white;
}
#operators:hover {
  color: white;
}
#calc {
  color: greenyellow;
  background-color: rgb(75, 3, 75);
  border-color: rgb(250, 89, 19);
  height: 40px;
  width: 75px;
  border-radius: 10px;
  margin-left: 100px;
}
